<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Retailer</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-xs-6">
          <div class="header left">
            <a href="/" class="logo">sea.buy()</a>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="header right">
            <a href="/account" class="btn btn-sm btn-primary"><i class="fa fa-user" aria-hidden="true"></i></a>
            <a href="/cart" class="btn btn-sm btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <form method="GET" action="/search">
            <div class="form-group">
              <input type="text" name="search" id="search" class="form-control" placeholder="Search"/>
              <input type="submit" value="submit" style="display: none;"/>
              <div class="form-check">
                <label class="form-check-label">
                  <% if (query.title === 'true') { %>
                    <input name="title" class="form-check-input" type="checkbox" value="true" checked>
                  <% } else { %>
                    <input name="title" class="form-check-input" type="checkbox" value="true">
                  <% } %>
                  Title
                </label>
                <label class="form-check-label">
                  <% if (query.details === 'true') { %>
                    <input name="details" class="form-check-input" type="checkbox" value="true" checked>
                  <% } else { %>
                    <input name="details" class="form-check-input" type="checkbox" value="true">
                  <% } %>
                  Details
                </label>
                <label class="form-check-label">
                  <% if (query.location === 'true') { %>
                    <input name="location" class="form-check-input" type="checkbox" value="true" checked>
                  <% } else { %>
                    <input name="location" class="form-check-input" type="checkbox" value="true">
                  <% } %>
                  Location
                </label>
                <label class="form-check-label">
                  <% if (query.make === 'true') { %>
                    <input name="make" class="form-check-input" type="checkbox" value="true" checked>
                  <% } else { %>
                    <input name="make" class="form-check-input" type="checkbox" value="true">
                  <% } %>
                  Make
                </label>
                <label class="form-check-label">
                  <% if (query.model === 'true') { %>
                    <input name="model" class="form-check-input" type="checkbox" value="true" checked>
                  <% } else { %>
                    <input name="model" class="form-check-input" type="checkbox" value="true">
                  <% } %>
                  Model
                </label>
                <label class="form-check-label">
                  <% if (query.ownerID === 'true') { %>
                    <input name="ownerID" class="form-check-input" type="checkbox" value="true" checked>
                  <% } else { %>
                    <input name="ownerID" class="form-check-input" type="checkbox" value="true">
                  <% } %>
                  Owner ID
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="/post/all" class="btn btn-success"><i class="fa fa-list" aria-hidden="true"></i> Browse</a>
          <a href="/post/new" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> New</a>
        </div>
      </div>

      <hr />

      <%- body %>

      <hr />

      <div class="row bottom-layout">
        <div class="col-sm-12">
          <a href="/about" class="btn btn-sm btn-link"><i class="fa fa-info" aria-hidden="true"></i> About</a>
          <a href="/contact" class="btn btn-sm btn-link"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
        </div>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
