body{
  min-width: 320px;
  /*background: linear-gradient(0deg,rgb(180, 210, 255),rgb(190, 226, 255));
  background-repeat: no-repeat;*/
}

a:focus, a:hover{
  text-decoration: none;
}

.header{
  height: 50px;
  display: flex;
  align-items: flex-end;;
}

.right{
  justify-content: flex-end;
  align-items: center;
}

.right a{
  margin-left: 4px;
}

.logo{
  font-size: 42px;
  line-height: 50px;
  font-weight: bolder;
  font-style: italic;
}

.product-title{
  color: #337ab7;
  font-size: 24px;
  text-decoration: none;
}
.product-line{
  padding: 0 4px;
  border-radius: 4px;
  color: black;
  margin-bottom: 8px;
}

.product-line:hover{
  background-color: rgb(245, 245, 245);
}

.layoutTop{
  position: fixed;
}

.bottom-layout{
  margin-bottom: 30px;
  margin-top: 210px;
}

.list-header{
  /*color: grey;*/
}

.fixed-piece{
  position: fixed;
  background-color: white;
  z-index: 1;
  margin-left: -15px;
  box-shadow: 0 8px 6px -6px lightgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}

.fixed-piece .row{
  padding-bottom: 4px;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 445px) {
  .bottom-layout{
    margin-top: 265px;
  }
}
