body{
  min-width: 320px;
  /*background: linear-gradient(0deg,rgb(180, 210, 255),rgb(190, 226, 255));
  background-repeat: no-repeat;*/
}

a:focus, a:hover{
  text-decoration: none;
}

.row{
  margin-top: 8px;
}

.header{
  height: 50px;
  display: flex;
  align-items: flex-end;;
}

.right{
  justify-content: flex-end;
  align-items: center;
}

.right a{
  margin-left: 4px;
}

.logo{
  font-size: 42px;
  line-height: 50px;
  font-weight: bolder;
}

.product-title{
  color: #337ab7;
  font-size: 24px;
  text-decoration: none;
}
.product-line{
  padding: 0 4px;
  border-radius: 4px;
  color: black;
}

.product-line:hover{
  background-color: rgb(245, 245, 245);
}

.layoutTop{
  position: fixed;
}
